@model IMS.Models.Shelf_Compartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shelf_Compartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shelves_Table.shelf_allocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelves_Table.shelf_allocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.compartment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
