@model IEnumerable<IMS.Models.Shelf_Compartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shelves_Table.shelf_allocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelves_Table.shelf_allocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.compartment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.compartment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.compartment_ID })
        </td>
    </tr>
}

</table>
