@model IEnumerable<IMS.Models.Stock_Withdraw>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_of_withdraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_withdraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expiry_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Details.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shelf_Compartment.shelf_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock_Category.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock_Details.unit_of_withdraw)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_of_withdraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_withdraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expiry_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Details.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelf_Compartment.shelf_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock_Category.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock_Details.unit_of_withdraw)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.withdraw_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.withdraw_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.withdraw_ID })
        </td>
    </tr>
}

</table>
